<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-execution-heading" data-cy="ExecutionCreateUpdateHeading">Create or edit a Execution</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_creationDate">Creation Date</label>
          <div class="input-group">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="text"
              class="form-control"
              name="creationDate"
              ngbDatepicker
              #creationDateDp="ngbDatepicker"
              formControlName="creationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_executionDescription">Execution Description</label>
          <input
            type="text"
            class="form-control"
            name="executionDescription"
            id="field_executionDescription"
            data-cy="executionDescription"
            formControlName="executionDescription"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_executionProperties">Execution Properties</label>
          <input
            type="text"
            class="form-control"
            name="executionProperties"
            id="field_executionProperties"
            data-cy="executionProperties"
            formControlName="executionProperties"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
