<div>
  <h2 id="page-heading" data-cy="ExecutionHeading">
    <span>Executions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-execution"
        [routerLink]="['/execution/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Execution </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="executions?.length === 0">
    <span>No executions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="executions && executions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Creation Date</span></th>
          <th scope="col"><span>Execution Description</span></th>
          <th scope="col"><span>Execution Properties</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let execution of executions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/execution', execution.id, 'view']">{{ execution.id }}</a>
          </td>
          <td>{{ execution.creationDate | formatMediumDate }}</td>
          <td>{{ execution.executionDescription }}</td>
          <td>{{ execution.executionProperties }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/execution', execution.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/execution', execution.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(execution)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
